.jumbotron{
    img{
        width:100%;
    }
    h1{
        font-weight: 500;
    }
    article ,h1{
        position: absolute;
        color: #fff;
        padding: 20px;
        width: 100%;
      
       
    }
    
}
.accueil main .content {
    h2{
        color:$colorBgMaron;
        border-bottom:1px solid $colorBgMaron;
    }
    
       
        
}
.content-actu{
    margin-top: 30px;
    h3{
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }
    img{width:100%}
}

/* ACTUALITE */

section article{
    margin:10px auto;
    h4{
        color: $colorMaronFonce;
    }
}


/* ASIDE*/

aside {
    background-color: #eee;
    border: 1px solid #bbb;
    h3{
        text-align: center;
    margin: 20px;
    color:$colorSahara;
}
    img{
       width:initial;
    }
    article{
    display:flex;
    justify-content: left;
    margin:40px 0;
    a.actu{
        font-size:16px;
        color:black;
        padding-left:5px;
        &:hover{
            color:$colorBgMaron;
        }
    }
}
}
