$colorBgMaron:#643200;
$colorMaronFonce:rgb(41, 20, 4);
$colorSahara:#b88a45;
$colorSaharaHover:#c8a86c;
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.font-smooch{
    font-family: 'Smooch Sans', sans-serif;
    font-size:40px;
}



.navbar-dark .navbar-nav .nav-link{
    border-bottom: 2px solid $colorBgMaron;
    color:$colorSahara;
    font-size:18px;
    &.active{
        border-bottom: 2px solid #ccc;
    }
    
}
.link{
    color:$colorSahara;
    &:hover{
        color:#ccc;
    }
}

p,li,h3,h4{
    font-family: 'Roboto', sans-serif;
}
h3{
    font-weight:700;
}
h4{
    font-weight:600;
}

.btn-sahara{
    background-color: $colorSahara;
    &:hover{
background-color: $colorSaharaHover;
color:$colorMaronFonce;
    }
}

.bg-menu{background-color: $colorBgMaron;}


main{
    margin:20px;
    .action{
      
        border-left:3px solid $colorBgMaron;
    }
}
.content  {
    p{
        font-size: 22px;
    }

    li{
        font-size: 20px;   
    }
}

img {
    padding:0!important;
    width:100%;
    border: 1px solid $colorBgMaron;
}



/*FOOTER */
footer{
    span,a{ color:$colorSahara;}
   
    height:300px;
    margin-top:50px;
    background-color: rgb(41, 20, 4);
    .footer-menu{
        display: flex;
        height:110px;
        align-items: center;
        justify-content: space-around;
        .noussuivre{
          
            width:200px;
            display: flex;
            justify-content: space-around;
            
        }
    }
}
@import '_logo.scss';
@import '_accueil.scss';
@import '_actualite.scss';
@import '_responsive.scss';


@media screen {
    
}