@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.font-smooch {
  font-family: 'Smooch Sans', sans-serif;
  font-size: 40px;
}

.navbar-dark .navbar-nav .nav-link {
  border-bottom: 2px solid #643200;
  color: #b88a45;
  font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 2px solid #ccc;
}

.link {
  color: #b88a45;
}

.link:hover {
  color: #ccc;
}

p, li, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 600;
}

.btn-sahara {
  background-color: #b88a45;
}

.btn-sahara:hover {
  background-color: #c8a86c;
  color: #291404;
}

.bg-menu {
  background-color: #643200;
}

main {
  margin: 20px;
}

main .action {
  border-left: 3px solid #643200;
}

.content p {
  font-size: 22px;
}

.content li {
  font-size: 20px;
}

img {
  padding: 0 !important;
  width: 100%;
  border: 1px solid #643200;
}

/*FOOTER */
footer {
  height: 300px;
  margin-top: 50px;
  background-color: #291404;
}

footer span, footer a {
  color: #b88a45;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-menu .noussuivre {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logo {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo p {
  font-size: 75%;
  color: #b88a45;
  border-top: 2px solid #b88a45;
  border-bottom: 2px solid #b88a45;
  text-align: center;
}

.logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo svg {
  width: 30%;
  height: 30%;
}

.box-logo-footer {
  width: 120px;
}

.box-logo-menu {
  width: 100px;
}

.jumbotron img {
  width: 100%;
}

.jumbotron h1 {
  font-weight: 500;
}

.jumbotron article, .jumbotron h1 {
  position: absolute;
  color: #fff;
  padding: 20px;
  width: 100%;
}

.accueil main .content h2 {
  color: #643200;
  border-bottom: 1px solid #643200;
}

.content-actu {
  margin-top: 30px;
}

.content-actu h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.content-actu img {
  width: 100%;
}

/* ACTUALITE */
section article {
  margin: 10px auto;
}

section article h4 {
  color: #291404;
}

/* ASIDE*/
aside {
  background-color: #eee;
  border: 1px solid #bbb;
}

aside h3 {
  text-align: center;
  margin: 20px;
  color: #b88a45;
}

aside img {
  width: initial;
}

aside article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 40px 0;
}

aside article a.actu {
  font-size: 16px;
  color: black;
  padding-left: 5px;
}

aside article a.actu:hover {
  color: #643200;
}

.actualite h1 {
  font-size: 60px;
}

.actualite h2 {
  font-size: 25px;
  border-bottom: 2px solid #b88a45;
  border-top: 2px solid #b88a45;
}

article {
  margin-bottom: 40px;
}

article + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 700px) {
  footer .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: initial;
  }
  footer .footer-menu div {
    margin-top: 20px;
  }
  .content p {
    font-size: 18px;
  }
}
/*# sourceMappingURL=styles.css.map */